@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

// Default styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Space Mono", monospace;

  // COLORS

  // primary
  --color-primary: hsl(172, 67%, 45%); // Strong cyan

  // neutrals
  --neutral-100: hsl(183, 100%, 15%); // Very dark cyan
  --neutral-200: hsl(186, 14%, 43%); // Dark grayish cyan
  --neutral-300: hsl(184, 14%, 56%); // Grayish cyan
  --neutral-400: hsl(185, 41%, 84%); // Light grayish cyan
  --neutral-500: hsl(189, 41%, 97%); // Very light grayish cyan
  --white: hsl(0, 0%, 100%); // White
}

body {
  background-color: var(--neutral-400);
}

// Breakpoints

$desktop: 1400px;

// Styles

main {
  padding-top: 15%;

  @media (min-width: $desktop) {
    padding-top: 10%;
  }
}

h1 {
  color: var(--neutral-100);
  font-size: 1.75rem;
  letter-spacing: 0.625rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.125rem;
}

p {
  font-size: 1.5rem;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vector-wrapper {
  display: flex;
}

// Card styles

.card {
  background-color: var(--white);
  border-radius: 12px 12px 0 0;
  margin-top: 10%;
  padding: 6%;
  width: 100%;

  @media (min-width: $desktop) {
    border-radius: 12px;
    margin: 5% auto 0;
    width: 60%;
  }
}

.card-title-dark {
  color: var(--neutral-200);
}

.card-title-light {
  color: var(--white);
}

.input-wrapper {
  background-color: var(--neutral-500);
  border-radius: 6px;
  padding: 2% 4%;
  margin-top: 2%;

  input {
    color: var(--neutral-100);
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;
    text-align: right;
    border: none;
    background: transparent;
    outline: none;
  }
}

.button-primary {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: var(--neutral-100);
  color: var(--white);
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  padding: 2% 0;
}

.card__tip {
  margin-top: 10%;

  .card__tip__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      margin-top: 4%;
      width: 48%;
    }
  }
}

.card__people-number {
  margin-top: 10%;
}
